
<div class="row-fluid">

	<div class="span6">

		<form ng-submit="displayOrderSummary()">

			<table id="menuTable">
				<tr ng-repeat="mi in orderState.selectedRestaurant.menuItems">
					<td>{{mi.name}}</td>
					<td>{{mi.price}}</td>
					<td><input type="text" ng-model="mi.quantity"  size="3"
			               placeholder="enter quantity"></td>
				</tr>
			</table>

			<input id="gotoOrderSummaryButton" class="btn-primary" type="submit" value="Next">

		</form>
	</div>

	<div class="span6">
		<h1>Your order</h1>

		<span>Delivering from {{orderState.selectedRestaurant.name}} to {{orderState.deliveryInfo.address.zipcode}} at {{orderState.deliveryInfo.timeOfDay}}</span>

		<table class="table">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="mi in orderState.selectedMenuItems">
					<td>{{mi.name}}</td>
					<td>{{mi.price}}</td>
					<td>{{mi.quantity}}</td>
					<td>{{mi.price * mi.quantity}}
				</tr>
				<tr>
					<td colspan="3">Total cost</td>
					<td><span id="orderTotal">{{orderState.totalCost}}</span></td>
				</tr>
			</tbody>				
		</table>
	</div>

</div>
